/* line 1, ../sass/responsive.smartphone.landscape.scss */
header#header div#branding {
  float: none;
  margin: auto;
  text-align: center; }

/* line 6, ../sass/responsive.smartphone.landscape.scss */
header#header div.region-header {
  display: table;
  float: none;
  margin: 15px auto 0;
  text-align: center;
  width: auto; }

/* line 13, ../sass/responsive.smartphone.landscape.scss */
header#header div.region-header .block {
  clear: both;
  display: block;
  margin: auto;
  padding: 0 0 10px !important;
  text-align: left;
  width: auto; }

/* line 21, ../sass/responsive.smartphone.landscape.scss */
header#header div.region-header .block-inner {
  margin: 0 20px; }

/* line 24, ../sass/responsive.smartphone.landscape.scss */
header#header div#logo,
header#header h1#site-name,
header#header h2#site-slogan {
  float: none;
  margin: 0;
  padding: 0 0 6px;
  text-align: center; }

/* line 32, ../sass/responsive.smartphone.landscape.scss */
#menu-bar-wrapper,
#menu-bar {
  min-height: 3em;
  height: auto; }

/* line 37, ../sass/responsive.smartphone.landscape.scss */
#menu-bar {
  padding: 0 2px; }

/* line 40, ../sass/responsive.smartphone.landscape.scss */
#menu-bar .block {
  clear: both;
  float: none; }

/* line 44, ../sass/responsive.smartphone.landscape.scss */
#menu-bar .menu-wrapper > ul,
#menu-bar .menu-wrapper > ul > li {
  display: block;
  float: none;
  margin: 0;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }

/* line 52, ../sass/responsive.smartphone.landscape.scss */
#menu-bar .menu-wrapper ul > li > a {
  padding: 6px 10px 8px;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important; }

/* line 58, ../sass/responsive.smartphone.landscape.scss */
#menu-bar .menu-wrapper ul,
#menu-bar .menu-wrapper ul li.last {
  border: 0; }

/* line 62, ../sass/responsive.smartphone.landscape.scss */
#menu-bar .sf-menu {
  height: auto;
  padding: 2px 0; }

/* line 66, ../sass/responsive.smartphone.landscape.scss */
.region-header .block {
  overflow: hidden; }

/* line 69, ../sass/responsive.smartphone.landscape.scss */
.region-draw .block {
  float: none;
  display: block;
  min-width: 0;
  max-width: 100%;
  margin: 0 auto 10px; }

/* line 76, ../sass/responsive.smartphone.landscape.scss */
.node-title {
  font-size: 1.25em; }

/* line 79, ../sass/responsive.smartphone.landscape.scss */
#secondary-content-wrapper .block-content-inner {
  padding: 0; }

/* line 82, ../sass/responsive.smartphone.landscape.scss */
#secondary-content-wrapper .block-content-inner img {
  max-width: 280px;
  display: block;
  margin: 10px auto; }

/* line 87, ../sass/responsive.smartphone.landscape.scss */
#secondary-content-wrapper .block-content-inner .views-row {
  max-width: 90%;
  margin: auto; }

/* line 91, ../sass/responsive.smartphone.landscape.scss */
#secondary-content-wrapper .block-content-inner .image-right,
#secondary-content-wrapper .block-content-inner .image-left,
.field-type-image {
  float: none !important;
  display: block !important;
  margin: auto !important;
  text-align: center !important; }

/* line 99, ../sass/responsive.smartphone.landscape.scss */
.flexslider ul.flex-direction-nav {
  top: 10px !important; }

/* line 102, ../sass/responsive.smartphone.landscape.scss */
.content-display-grid .block-inner {
  margin: 0; }

/* Force tableviews-view-grid to not be like a table anymore */
/* line 106, ../sass/responsive.smartphone.landscape.scss */
table.views-view-grid,
table.views-view-grid thead,
table.views-view-grid tbody,
table.views-view-grid th,
table.views-view-grid td,
table.views-view-grid tr {
  display: block;
  padding: 0; }

/* Hide table headers */
/* line 116, ../sass/responsive.smartphone.landscape.scss */
table.views-view-grid thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px; }

/* line 121, ../sass/responsive.smartphone.landscape.scss */
.views-view-grid td {
  float: left; }

/* line 124, ../sass/responsive.smartphone.landscape.scss */
.views-view-grid .field-type-image img {
  padding-left: 0;
  padding-right: 0; }

/*======================================
=            robs overrides            =
======================================*/
/* line 132, ../sass/responsive.smartphone.landscape.scss */
.hl-l #branding {
  float: none; }

/* line 135, ../sass/responsive.smartphone.landscape.scss */
.hl-l #logo,
.hl-l .h-group {
  margin: 0px;
  float: none;
  text-align: center;
  border: none; }

/* line 142, ../sass/responsive.smartphone.landscape.scss */
.sna-l #site-name, .ssa-l #site-slogan {
  text-align: center;
  margin-left: 28px; }

/* line 144, ../sass/responsive.smartphone.landscape.scss */
.region-header div#block-islandora-solr-simple {
  margin-top: 0px; }

/* line 145, ../sass/responsive.smartphone.landscape.scss */
.hl-l .region-header {
  float: none;
  margin: 0px 0 0 20px; }

/*# sourceMappingURL=responsive.smartphone.landscape.css.map */
