/* line 1, ../sass/vre_upei.scss */
div#menu-bar i {
  margin-right: 5px; }

/**
 * Footheme footheme.css
 *
 * Use this file to add your custom styles.
 *
 * You can change the name of this file, just
 * remember to update the name in the info file
 * as well.
 */
/*=====================================
=            utilities            =
=====================================*/
/* line 17, ../sass/vre_upei.scss */
.frame-image {
  border: 1px solid #ccc;
  padding: 4px;
  background: #fff;
  border-radius: 4px; }

/*-----  End of utilities  ------*/
/* line 27, ../sass/vre_upei.scss */
body {
  /*background: blue;*/ }

/*=====================================
=            general stuff            =
=====================================*/
/* line 37, ../sass/vre_upei.scss */
ul.primary li a {
  font-weight: normal; }

/*-----  End of general stuff  ------*/
/*=================================
=            header stuff            =
=================================*/
/* line 47, ../sass/vre_upei.scss */
#logo {
  border-right: 1px solid #ccc;
  margin-right: 18px; }

/* line 48, ../sass/vre_upei.scss */
#name-and-slogan {
  padding-top: 5px; }

/* line 49, ../sass/vre_upei.scss */
#site-name, #site-slogan {
  display: block;
  line-height: 1;
  padding-top: 5px; }

/* line 50, ../sass/vre_upei.scss */
#branding {
  margin: 0px; }

/* this needs to be adjusted depending on the menus ie: add margin if the menus are gone */
/*==========  search box when in header block  ==========*/
/* line 55, ../sass/vre_upei.scss */
.region-header div#block-islandora-solr-simple {
  margin-top: 26px; }

/* line 56, ../sass/vre_upei.scss */
div#block-islandora-solr-simple input#edit-islandora-simple-search-query {
  border: 1px solid #d2d2d2;
  font-size: 14px;
  padding: 6px; }

/* line 57, ../sass/vre_upei.scss */
div#block-islandora-solr-simple input#edit-submit {
  height: 31px;
  border: 1px solid #d2d2d2; }

/*==========  menu bar  ==========*/
/* line 61, ../sass/vre_upei.scss */
#menu-bar {
  border-radius: 4px; }

/* line 62, ../sass/vre_upei.scss */
div#menu-wrapper {
  border-radius: 4px;
  padding-left: 5px;
  min-height: inherit;
  background: #333333; }

/*#menu-bar a:first-child:hover {
	border-radius: 4px 0 0 4px;
}
#menu-bar li.first:hover {
    border-radius: 4px;
}*/
/* line 74, ../sass/vre_upei.scss */
#menu-bar a.active {
  color: #f7b751; }

/* line 78, ../sass/vre_upei.scss */
.responsive-menus.responsified span.toggler {
  box-shadow: none; }

/* line 82, ../sass/vre_upei.scss */
.responsive-menus.responsified .responsive-menus-simple {
  box-shadow: none; }

/*-----  End of header stuff  ------*/
/*===================================
=            UPEI Footer            =
===================================*/
/* line 93, ../sass/vre_upei.scss */
.bottom-links {
  display: none; }

/* line 94, ../sass/vre_upei.scss */
.bottom-links ul {
  border-left: 1px solid #C3C3C3; }

/* line 95, ../sass/vre_upei.scss */
.socialmedia {
  margin: 10px 0; }

/* line 96, ../sass/vre_upei.scss */
div#footer-wrapper {
  background: #333; }

/* line 97, ../sass/vre_upei.scss */
.upei-footer {
  font-size: 13px; }

/* line 98, ../sass/vre_upei.scss */
.upei-footer h2 {
  font-size: 20px;
  color: #fff;
  font-weight: normal; }

/* line 99, ../sass/vre_upei.scss */
.upei-footer a {
  color: #ccc; }

/* line 100, ../sass/vre_upei.scss */
.upei-footer a:hover {
  color: #f7b751; }

/* line 101, ../sass/vre_upei.scss */
.upei-footer .links-last, .upei-footer .links-last a {
  color: #ccc; }

/* line 102, ../sass/vre_upei.scss */
.upei-footer li {
  line-height: 142%; }

/* line 103, ../sass/vre_upei.scss */
.upei-footer .address {
  color: #fff; }

/* line 104, ../sass/vre_upei.scss */
.upei-footer ul.menu li.leaf {
  list-style-image: none;
  list-style-type: none;
  margin-left: 5px; }

/* line 105, ../sass/vre_upei.scss */
.upei-footer ul.menu {
  padding: 0px;
  margin: 0px; }

@media (min-width: 600px) {
  /* line 108, ../sass/vre_upei.scss */
  div#links-section {
    overflow: hidden;
    *zoom: 1; }

  /* .menu-01 { width: 28.57143%; float: left; margin-right: -100%; margin-left: 0; clear: none; }
  .menu-02 { width: 28.57143%; float: left; margin-right: -100%; margin-left: 35.71429%; clear: none; }
  .menu-03 { width: 28.57143%; float: right; margin-left: 0; margin-right: 0; clear: none; }
  .menu-04 { width: 28.57143%; clear: right; float: left; margin-left: 0; margin-right: 7.14286%; clear: both; }
  .menu-05 { width: 28.57143%; clear: right; float: left; margin-right: 7.14286%; }
  */
  /* line 115, ../sass/vre_upei.scss */
  .inner-footeraddress {
    margin-top: 10px; }

  /* line 116, ../sass/vre_upei.scss */
  .footeraddress {
    width: 100%;
    clear: right;
    float: right;
    margin-right: 0; }

  /* line 117, ../sass/vre_upei.scss */
  .socialmedia {
    padding: 12px 0; } }
@media (min-width: 800px) {
  /* line 121, ../sass/vre_upei.scss */
  .socialmedia {
    margin: 0; }

  /* line 122, ../sass/vre_upei.scss */
  .bottom-links {
    display: inherit; }

  /* line 123, ../sass/vre_upei.scss */
  .socialmedia {
    padding: 12px 0; }

  /* line 124, ../sass/vre_upei.scss */
  div#links-section {
    overflow: hidden;
    *zoom: 1; }

  /* line 125, ../sass/vre_upei.scss */
  .menu-01 {
    width: 18.18182%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }

  /* line 126, ../sass/vre_upei.scss */
  .menu-02 {
    width: 18.18182%;
    float: left;
    margin-right: -100%;
    margin-left: 20.45455%;
    clear: none; }

  /* line 127, ../sass/vre_upei.scss */
  .menu-03 {
    width: 18.18182%;
    float: left;
    margin-right: -100%;
    margin-left: 40.90909%;
    clear: none; }

  /* line 128, ../sass/vre_upei.scss */
  .menu-04 {
    width: 18.18182%;
    float: left;
    margin-right: -100%;
    margin-left: 61.36364%;
    clear: none; }

  /* line 129, ../sass/vre_upei.scss */
  .menu-05 {
    width: 18.18182%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  /* line 130, ../sass/vre_upei.scss */
  .inner-footeraddress {
    margin-top: 10px;
    overflow: hidden;
    *zoom: 1; }

  /* line 131, ../sass/vre_upei.scss */
  .footeraddress {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    border-top: 4px solid #8b1f03;
    padding-top: 10px;
    margin-top: 5px; }

  /* line 132, ../sass/vre_upei.scss */
  .addressleft {
    width: 59.09091%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }

  /* line 133, ../sass/vre_upei.scss */
  .footerlogo {
    width: 18.18182%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  /* line 134, ../sass/vre_upei.scss */
  .socialmedia {
    width: 18.18182%;
    float: left;
    margin-right: -100%;
    margin-left: 61.36364%;
    clear: none;
    text-align: right;
    padding-top: 27px; } }
/*-----  End of UPEI Footer  ------*/
/* line 141, ../sass/vre_upei.scss */
body.page-islandora-object {
  font-size: 100%; }

/* line 145, ../sass/vre_upei.scss */
#BRpager {
  background: initial;
  border: 0px; }

/* line 146, ../sass/vre_upei.scss */
#header-wrapper header {
  margin: 10px; }

/* line 148, ../sass/vre_upei.scss */
#content-wrapper.no-secondary {
  padding-top: 2em; }

/*# sourceMappingURL=vre_upei.css.map */
