/* line 3, ../sass/vre_upei.scss */
div#menu-bar i {
  margin-right: 5px; }

/* line 6, ../sass/vre_upei.scss */
#logo {
  width: 200px; }

/*=====================================
=            utilities            =
=====================================*/
/* line 14, ../sass/vre_upei.scss */
.frame-image {
  border: 1px solid #ccc;
  padding: 4px;
  background: #fff;
  border-radius: 4px; }

/*-----  End of utilities  ------*/
/* line 24, ../sass/vre_upei.scss */
body {
  /*background: blue;*/ }

/*=====================================
=            general stuff            =
=====================================*/
/* line 34, ../sass/vre_upei.scss */
ul.primary li a {
  font-weight: normal; }

/*-----  End of general stuff  ------*/
/*=================================
=            header stuff            =
=================================*/
/* line 44, ../sass/vre_upei.scss */
#logo {
  border-right: 1px solid #ccc;
  margin-right: 18px; }

/* line 45, ../sass/vre_upei.scss */
#name-and-slogan {
  padding-top: 5px; }

/* line 46, ../sass/vre_upei.scss */
#site-name, #site-slogan {
  display: block;
  line-height: 1;
  padding-top: 5px; }

/* line 47, ../sass/vre_upei.scss */
#branding {
  margin: 0px; }

/* this needs to be adjusted depending on the menus ie: add margin if the menus are gone */
/*==========  search box when in header block  ==========*/
/* line 52, ../sass/vre_upei.scss */
.region-header div#block-islandora-solr-simple {
  margin-top: 26px; }

/* line 53, ../sass/vre_upei.scss */
div#block-islandora-solr-simple input#edit-islandora-simple-search-query {
  border: 1px solid #d2d2d2;
  font-size: 14px;
  padding: 6px; }

/* line 54, ../sass/vre_upei.scss */
div#block-islandora-solr-simple input#edit-submit {
  height: 31px;
  border: 1px solid #d2d2d2; }

/*==========  menu bar  ==========*/
/* line 58, ../sass/vre_upei.scss */
#menu-bar {
  border-radius: 4px; }

/* line 59, ../sass/vre_upei.scss */
div#menu-wrapper {
  border-radius: 4px;
  padding-left: 5px;
  min-height: inherit;
  background: #333333; }

/*#menu-bar a:first-child:hover {
	border-radius: 4px 0 0 4px;
}
#menu-bar li.first:hover {
    border-radius: 4px;
}*/
/* line 71, ../sass/vre_upei.scss */
#menu-bar a.active {
  color: #f7b751; }

/* line 75, ../sass/vre_upei.scss */
.responsive-menus.responsified span.toggler {
  box-shadow: none; }

/* line 79, ../sass/vre_upei.scss */
.responsive-menus.responsified .responsive-menus-simple {
  box-shadow: none; }

/*-----  End of header stuff  ------*/
/*===================================
=            UPEI Footer            =
===================================*/
/* line 90, ../sass/vre_upei.scss */
.bottom-links {
  display: none; }

/* line 91, ../sass/vre_upei.scss */
.bottom-links ul {
  border-left: 1px solid #C3C3C3; }

/* line 92, ../sass/vre_upei.scss */
.socialmedia {
  margin: 10px 0; }

/* line 93, ../sass/vre_upei.scss */
div#footer-wrapper {
  background: #333; }

/* line 94, ../sass/vre_upei.scss */
.upei-footer {
  font-size: 13px; }

/* line 95, ../sass/vre_upei.scss */
.upei-footer h2 {
  font-size: 20px;
  color: #fff;
  font-weight: normal; }

/* line 96, ../sass/vre_upei.scss */
.upei-footer a {
  color: #ccc; }

/* line 97, ../sass/vre_upei.scss */
.upei-footer a:hover {
  color: #f7b751; }

/* line 98, ../sass/vre_upei.scss */
.upei-footer .links-last, .upei-footer .links-last a {
  color: #ccc; }

/* line 99, ../sass/vre_upei.scss */
.upei-footer li {
  line-height: 142%; }

/* line 100, ../sass/vre_upei.scss */
.upei-footer .address {
  color: #fff; }

/* line 101, ../sass/vre_upei.scss */
.upei-footer ul.menu li.leaf {
  list-style-image: none;
  list-style-type: none;
  margin-left: 5px; }

/* line 102, ../sass/vre_upei.scss */
.upei-footer ul.menu {
  padding: 0px;
  margin: 0px; }

@media (min-width: 600px) {
  /* line 105, ../sass/vre_upei.scss */
  div#links-section {
    overflow: hidden;
    *zoom: 1; }

  /* .menu-01 { width: 28.57143%; float: left; margin-right: -100%; margin-left: 0; clear: none; }
  .menu-02 { width: 28.57143%; float: left; margin-right: -100%; margin-left: 35.71429%; clear: none; }
  .menu-03 { width: 28.57143%; float: right; margin-left: 0; margin-right: 0; clear: none; }
  .menu-04 { width: 28.57143%; clear: right; float: left; margin-left: 0; margin-right: 7.14286%; clear: both; }
  .menu-05 { width: 28.57143%; clear: right; float: left; margin-right: 7.14286%; }
  */
  /* line 112, ../sass/vre_upei.scss */
  .inner-footeraddress {
    margin-top: 10px; }

  /* line 113, ../sass/vre_upei.scss */
  .footeraddress {
    width: 100%;
    clear: right;
    float: right;
    margin-right: 0; }

  /* line 114, ../sass/vre_upei.scss */
  .socialmedia {
    padding: 12px 0; } }
@media (min-width: 800px) {
  /* line 118, ../sass/vre_upei.scss */
  .socialmedia {
    margin: 0; }

  /* line 119, ../sass/vre_upei.scss */
  .bottom-links {
    display: inherit; }

  /* line 120, ../sass/vre_upei.scss */
  .socialmedia {
    padding: 12px 0; }

  /* line 121, ../sass/vre_upei.scss */
  div#links-section {
    overflow: hidden;
    *zoom: 1; }

  /* line 122, ../sass/vre_upei.scss */
  .menu-01 {
    width: 18.18182%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }

  /* line 123, ../sass/vre_upei.scss */
  .menu-02 {
    width: 18.18182%;
    float: left;
    margin-right: -100%;
    margin-left: 20.45455%;
    clear: none; }

  /* line 124, ../sass/vre_upei.scss */
  .menu-03 {
    width: 18.18182%;
    float: left;
    margin-right: -100%;
    margin-left: 40.90909%;
    clear: none; }

  /* line 125, ../sass/vre_upei.scss */
  .menu-04 {
    width: 18.18182%;
    float: left;
    margin-right: -100%;
    margin-left: 61.36364%;
    clear: none; }

  /* line 126, ../sass/vre_upei.scss */
  .menu-05 {
    width: 18.18182%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  /* line 127, ../sass/vre_upei.scss */
  .inner-footeraddress {
    margin-top: 10px;
    overflow: hidden;
    *zoom: 1; }

  /* line 128, ../sass/vre_upei.scss */
  .footeraddress {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    border-top: 4px solid #8b1f03;
    padding-top: 10px;
    margin-top: 5px; }

  /* line 129, ../sass/vre_upei.scss */
  .addressleft {
    width: 59.09091%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }

  /* line 130, ../sass/vre_upei.scss */
  .footerlogo {
    width: 18.18182%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; }

  /* line 131, ../sass/vre_upei.scss */
  .socialmedia {
    width: 18.18182%;
    float: left;
    margin-right: -100%;
    margin-left: 61.36364%;
    clear: none;
    text-align: right;
    padding-top: 27px; } }
/*-----  End of UPEI Footer  ------*/
/* line 138, ../sass/vre_upei.scss */
body.page-islandora-object {
  font-size: 100%; }

/* line 142, ../sass/vre_upei.scss */
#BRpager {
  background: initial;
  border: 0px; }

/* line 143, ../sass/vre_upei.scss */
#header-wrapper header {
  margin: 10px; }

/* line 145, ../sass/vre_upei.scss */
#content-wrapper.no-secondary {
  padding-top: 2em; }

/* line 2, ../sass/_morphospace-tweaks.scss */
.home .collection_slideshow img {
  width: 250px; }

/* line 7, ../sass/_morphospace-tweaks.scss */
.collection_slideshow {
  padding: 16px;
  background-color: white;
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px; }
  /* line 14, ../sass/_morphospace-tweaks.scss */
  .collection_slideshow .flipster__item__content {
    border: 1px solid #ccc;
    background: #f5f5f5;
    padding: 4px; }
    /* line 19, ../sass/_morphospace-tweaks.scss */
    .collection_slideshow .flipster__item__content img {
      border: 1px solid #ccc; }
  /* line 24, ../sass/_morphospace-tweaks.scss */
  .collection_slideshow .slide_caption {
    font-size: 1.1em; }

/*--------------------*/
/*-  flipster demo -*/
/*-------------------*/
/* line 34, ../sass/_morphospace-tweaks.scss */
.flat .collection_slideshow img {
  width: 250px; }

/* line 39, ../sass/_morphospace-tweaks.scss */
#content-wrapper.no-secondary {
  padding-top: 2em; }

/* line 43, ../sass/_morphospace-tweaks.scss */
.islandora-metadata {
  /*@include remove_fieldset;*/ }
  /* line 45, ../sass/_morphospace-tweaks.scss */
  .islandora-metadata dl {
    background: white;
    border: 1px solid #ccc;
    padding: 1em;
    margin: 0; }
  /* line 52, ../sass/_morphospace-tweaks.scss */
  .islandora-metadata dt {
    margin-right: -1px;
    width: 15%;
    font-weight: bold;
    padding-right: 0;
    word-wrap: normal; }
  /* line 60, ../sass/_morphospace-tweaks.scss */
  .islandora-metadata dd {
    width: 85%;
    padding-left: 40px; }

/* line 68, ../sass/_morphospace-tweaks.scss */
.islandora-basic-image-content {
  background-color: white;
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 15px;
  float: left;
  width: auto;
  max-width: 100%;
  margin-bottom: 1em; }

/*---------------------------------------------------------------*/
/*-  delete in production (only here to make live reload work)  -*/
/*---------------------------------------------------------------*/
/* Gutters are not currently overridden in theme settings, but may be in theme CSS */
/* smalltouch_landscape one_col_vert */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  /* line 89, ../sass/_morphospace-tweaks.scss */
  .container {
    width: 100%; }

  /* line 93, ../sass/_morphospace-tweaks.scss */
  .two-sidebars .content-inner, .one-sidebar .content-inner, .region-sidebar-first, .region-sidebar-second {
    margin-left: 0;
    margin-right: 0; }

  /* line 98, ../sass/_morphospace-tweaks.scss */
  .region-sidebar-first {
    width: 50%; }

  /* line 102, ../sass/_morphospace-tweaks.scss */
  .region-sidebar-second {
    width: 50%; }

  /* line 106, ../sass/_morphospace-tweaks.scss */
  .one-sidebar .sidebar {
    width: 100%; }

  /* line 110, ../sass/_morphospace-tweaks.scss */
  .region-sidebar-first, .region-sidebar-second {
    overflow: hidden;
    margin-top: 20px;
    float: left;
    clear: none; }

  /* line 117, ../sass/_morphospace-tweaks.scss */
  .region-sidebar-first.block, .region-sidebar-second .block {
    width: 100%; }

  /* line 121, ../sass/_morphospace-tweaks.scss */
  .at-panel .region {
    display: inline;
    float: left; }

  /* line 126, ../sass/_morphospace-tweaks.scss */
  .three-50-25-25 > .region, .three-25-25-50 > .region, .three-25-50-25 > .region, .three-3x33 > .region, .two-66-33 > .region, .two-50 > .region, .two-33-66 > .region, .two-brick > .panel-row > .region, .three-inset-right > .inset-wrapper, .three-inset-right > .inset-wrapper > .region, .three-inset-right > .region-three-inset-right-sidebar, .three-inset-left > .inset-wrapper, .three-inset-left > .inset-wrapper > .region, .three-inset-left > .region-three-inset-left-sidebar, .six-6x16 > .panel-row > .region, .six-6x16 > .panel-row, .four-4x25 > .panel-row > .region, .four-4x25 > .panel-row, .five-5x20 > .panel-row > .region, .five-5x20 > .panel-row {
    float: none;
    display: block;
    width: 100%;
    clear: both; } }
/* tablet_portrait one_col_vert */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* line 136, ../sass/_morphospace-tweaks.scss */
  .container {
    width: 100%; }

  /* line 140, ../sass/_morphospace-tweaks.scss */
  .two-sidebars .content-inner, .one-sidebar .content-inner, .region-sidebar-first, .region-sidebar-second {
    margin-left: 0;
    margin-right: 0; }

  /* line 145, ../sass/_morphospace-tweaks.scss */
  .region-sidebar-first {
    width: 50%; }

  /* line 149, ../sass/_morphospace-tweaks.scss */
  .region-sidebar-second {
    width: 50%; }

  /* line 153, ../sass/_morphospace-tweaks.scss */
  .one-sidebar .sidebar {
    width: 100%; }

  /* line 157, ../sass/_morphospace-tweaks.scss */
  .region-sidebar-first, .region-sidebar-second {
    overflow: hidden;
    margin-top: 20px;
    float: left;
    clear: none; }

  /* line 164, ../sass/_morphospace-tweaks.scss */
  .region-sidebar-first.block, .region-sidebar-second .block {
    width: 100%; }

  /* line 168, ../sass/_morphospace-tweaks.scss */
  .at-panel .region {
    display: inline;
    float: left; }

  /* line 173, ../sass/_morphospace-tweaks.scss */
  .three-50-25-25 > .region-three-50-25-25-second, .three-50-25-25 .region-three-50-25-25-third, .three-3x33 > .region, .two-50 > .region, .two-brick > .panel-row > .region, .four-4x25 > .panel-row > .region, .five-5x20 > .panel-row > div.region {
    width: 50%; }

  /* line 177, ../sass/_morphospace-tweaks.scss */
  .three-50-25-25 > .region-three-50-25-25-first, .three-25-25-50 > .region-three-25-25-50-first, .three-25-50-25 > .region-three-25-50-25-first, .three-3x33 > div.region-three-33-first, .three-inset-right > .inset-wrapper > .region, .three-inset-left > .inset-wrapper > .region, .six-6x16 > .panel-row, .four-4x25 > .panel-row, .five-5x20 > div.panel-row, .five-5x20 > div.panel-row > div.region-five-fifth {
    float: none;
    display: block;
    width: 100%;
    clear: both; }

  /* line 184, ../sass/_morphospace-tweaks.scss */
  .three-25-25-50 > div.region-three-25-25-50-second, .three-25-50-25 > div.region-three-25-50-25-third, .three-inset-right > .region-three-inset-right-sidebar {
    width: 25%; }

  /* line 188, ../sass/_morphospace-tweaks.scss */
  .three-25-25-50 > div.region-three-25-25-50-third, .three-25-50-25 > div.region-three-25-50-25-second {
    width: 75%; }

  /* line 192, ../sass/_morphospace-tweaks.scss */
  .two-66-33 > .region-two-66-33-first, .two-33-66 > .region-two-33-66-second {
    width: 66.666666%; }

  /* line 196, ../sass/_morphospace-tweaks.scss */
  .two-66-33 > .region-two-66-33-second, .two-33-66 > .region-two-33-66-first {
    width: 33.333333%; }

  /* line 200, ../sass/_morphospace-tweaks.scss */
  .two-brick > .panel-row {
    float: none; }

  /* line 204, ../sass/_morphospace-tweaks.scss */
  .three-inset-right > .inset-wrapper {
    width: 75%;
    float: left; }

  /* line 209, ../sass/_morphospace-tweaks.scss */
  .three-inset-left > .region-three-inset-left-sidebar {
    width: 25%;
    float: right; }

  /* line 214, ../sass/_morphospace-tweaks.scss */
  .three-inset-left > .inset-wrapper {
    width: 75%;
    float: right; }

  /* line 219, ../sass/_morphospace-tweaks.scss */
  .six-6x16 > .panel-row > .region {
    width: 50%;
    float: left; } }
/* tablet_landscape three_col_grail */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* line 227, ../sass/_morphospace-tweaks.scss */
  .container {
    width: 100%; }

  /* line 231, ../sass/_morphospace-tweaks.scss */
  #content-column, .content-column, div.sidebar {
    float: left;
    clear: none; }

  /* line 236, ../sass/_morphospace-tweaks.scss */
  .two-sidebars .content-inner {
    margin-left: 20%;
    margin-right: 20%; }

  /* line 241, ../sass/_morphospace-tweaks.scss */
  .sidebar-first .content-inner {
    margin-left: 20%;
    margin-right: 0; }

  /* line 246, ../sass/_morphospace-tweaks.scss */
  .sidebar-second .content-inner {
    margin-right: 20%;
    margin-left: 0; }

  /* line 251, ../sass/_morphospace-tweaks.scss */
  .region-sidebar-first {
    width: 20%;
    margin-left: -100%; }

  /* line 256, ../sass/_morphospace-tweaks.scss */
  .region-sidebar-second {
    width: 20%;
    margin-left: -20%; }

  /* line 261, ../sass/_morphospace-tweaks.scss */
  .at-panel .region {
    display: inline;
    float: left; }

  /* line 266, ../sass/_morphospace-tweaks.scss */
  .three-50-25-25 > .region, .three-25-25-50 > .region, .three-25-50-25 > .region, .three-inset-right > .region-three-inset-right-sidebar, .three-inset-left > .region-three-inset-left-sidebar {
    width: 25%; }

  /* line 270, ../sass/_morphospace-tweaks.scss */
  .three-50-25-25 > div.region-three-50-25-25-first, .three-25-25-50 > div.region-three-25-25-50-third, .three-25-50-25 > div.region-three-25-50-25-second, .two-50 > .region, .two-brick > .panel-row > .region, .five-5x20 > .row-1 div.region-five-first, .five-5x20 .row-1 div.region-five-second {
    width: 50%; }

  /* line 274, ../sass/_morphospace-tweaks.scss */
  .three-3x33 > .region, .two-66-33 > .region-two-66-33-second, .two-33-66 > .region-two-33-66-first, .three-inset-right > .inset-wrapper > div.region-three-inset-right-inset, .three-inset-left > .inset-wrapper > div.region-three-inset-left-inset, .five-5x20 > .panel-row > .region {
    width: 33.333333%; }

  /* line 278, ../sass/_morphospace-tweaks.scss */
  .two-66-33 > .region-two-66-33-first, .two-33-66 > .region-two-33-66-second, .three-inset-right > .inset-wrapper > div.region-three-inset-right-middle, .three-inset-left > .inset-wrapper > div.region-three-inset-left-middle {
    width: 66.666666%; }

  /* line 282, ../sass/_morphospace-tweaks.scss */
  .two-brick > .panel-row {
    float: none; }

  /* line 286, ../sass/_morphospace-tweaks.scss */
  .three-inset-right > .inset-wrapper {
    width: 75%;
    float: left; }

  /* line 291, ../sass/_morphospace-tweaks.scss */
  .three-inset-right > .inset-wrapper > .region, .three-inset-left > .inset-wrapper > .region {
    width: 100%; }

  /* line 295, ../sass/_morphospace-tweaks.scss */
  .three-inset-left > .region-three-inset-left-sidebar, .three-inset-left > .inset-wrapper, .three-inset-left > .inset-wrapper > .region-three-inset-left-middle {
    float: right; }

  /* line 299, ../sass/_morphospace-tweaks.scss */
  .three-inset-left > .inset-wrapper {
    width: 75%; }

  /* line 303, ../sass/_morphospace-tweaks.scss */
  .six-6x16 > .panel-row {
    width: 33.333333%;
    float: left; }

  /* line 308, ../sass/_morphospace-tweaks.scss */
  .six-6x16 > .panel-row > .region, .five-5x20 > .panel-row {
    float: none;
    display: block;
    width: 100%;
    clear: both; }

  /* line 315, ../sass/_morphospace-tweaks.scss */
  .four-4x25 > .panel-row > .region, .four-4x25 > .panel-row {
    width: 50%;
    float: left; } }
/* bigscreen three_col_grail */
@media only screen and (min-width: 1025px) {
  /* line 323, ../sass/_morphospace-tweaks.scss */
  .container {
    width: 100%;
    max-width: 1140px; }

  /* line 328, ../sass/_morphospace-tweaks.scss */
  #content-column, .content-column, div.sidebar {
    float: left;
    clear: none; }

  /* line 333, ../sass/_morphospace-tweaks.scss */
  .two-sidebars .content-inner {
    margin-left: 25%;
    margin-right: 25%; }

  /* line 338, ../sass/_morphospace-tweaks.scss */
  .sidebar-first .content-inner {
    margin-left: 25%;
    margin-right: 0; }

  /* line 343, ../sass/_morphospace-tweaks.scss */
  .sidebar-second .content-inner {
    margin-right: 25%;
    margin-left: 0; }

  /* line 348, ../sass/_morphospace-tweaks.scss */
  .region-sidebar-first {
    width: 25%;
    margin-left: -100%; }

  /* line 353, ../sass/_morphospace-tweaks.scss */
  .region-sidebar-second {
    width: 25%;
    margin-left: -25%; }

  /* line 358, ../sass/_morphospace-tweaks.scss */
  .at-panel .region {
    display: inline;
    float: left; }

  /* line 363, ../sass/_morphospace-tweaks.scss */
  .three-50-25-25 > .region, .three-25-25-50 > .region, .three-25-50-25 > .region, .three-inset-right > .region-three-inset-right-sidebar, .three-inset-left > .region-three-inset-left-sidebar {
    width: 25%; }

  /* line 367, ../sass/_morphospace-tweaks.scss */
  .three-50-25-25 > div.region-three-50-25-25-first, .three-25-25-50 > div.region-three-25-25-50-third, .three-25-50-25 > div.region-three-25-50-25-second, .two-50 > .region, .two-brick > .panel-row > .region, .five-5x20 > .row-1 div.region-five-first, .five-5x20 .row-1 div.region-five-second {
    width: 50%; }

  /* line 371, ../sass/_morphospace-tweaks.scss */
  .three-3x33 > .region, .two-66-33 > .region-two-66-33-second, .two-33-66 > .region-two-33-66-first, .three-inset-right > .inset-wrapper > div.region-three-inset-right-inset, .three-inset-left > .inset-wrapper > div.region-three-inset-left-inset, .five-5x20 > .panel-row > .region {
    width: 33.333333%; }

  /* line 375, ../sass/_morphospace-tweaks.scss */
  .two-66-33 > .region-two-66-33-first, .two-33-66 > .region-two-33-66-second, .three-inset-right > .inset-wrapper > div.region-three-inset-right-middle, .three-inset-left > .inset-wrapper > div.region-three-inset-left-middle {
    width: 66.666666%; }

  /* line 379, ../sass/_morphospace-tweaks.scss */
  .two-brick > .panel-row {
    float: none; }

  /* line 383, ../sass/_morphospace-tweaks.scss */
  .three-inset-right > .inset-wrapper {
    width: 75%;
    float: left; }

  /* line 388, ../sass/_morphospace-tweaks.scss */
  .three-inset-right > .inset-wrapper > .region, .three-inset-left > .inset-wrapper > .region {
    width: 100%; }

  /* line 392, ../sass/_morphospace-tweaks.scss */
  .three-inset-left > .region-three-inset-left-sidebar, .three-inset-left > .inset-wrapper, .three-inset-left > .inset-wrapper > .region-three-inset-left-middle {
    float: right; }

  /* line 396, ../sass/_morphospace-tweaks.scss */
  .three-inset-left > .inset-wrapper {
    width: 75%; }

  /* line 400, ../sass/_morphospace-tweaks.scss */
  .six-6x16 > .panel-row {
    width: 33.333333%;
    float: left; }

  /* line 405, ../sass/_morphospace-tweaks.scss */
  .six-6x16 > .panel-row > .region, .five-5x20 > .panel-row {
    float: none;
    display: block;
    width: 100%;
    clear: both; }

  /* line 412, ../sass/_morphospace-tweaks.scss */
  .four-4x25 > .panel-row > .region, .four-4x25 > .panel-row {
    width: 50%;
    float: left; } }

/*# sourceMappingURL=vre_upei.css.map */
